.signup-container {
    width: 500px;
}
.signup-container h1{
    font-size: 2rem;
}

.signup-form {
    background-color: rgb(252, 251, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
.show_hide{
    position: absolute;
    height: 20px;
    right: 5px;
    top: 35px;
  }
  