.addPasswordSection {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Enable vertical scroll within this element */
  height: 100%;
}

.add-password-form {
  background-color: rgb(252, 251, 250);
  border-radius: 10px;
  padding: 20px;
  width: 20rem;
  font-size: 0.9rem;
  opacity: 0;
}

.addPasswordSection.pageOpen .add-password-form {
  animation: pageOpenAnimation 0.5s ease forwards;
}

@keyframes pageOpenAnimation {
  0% {
      opacity: 0;
      transform: scale(0.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}


.add-password-form h3 {
  margin-top: 0;
  color: #3B71CA;
  font-size: 1.5rem;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
