.password-page {
    padding: 20px;
    width: 80vw;
    height: 80vh;
}

.search-bar-container {
    margin: 20px; /* Add margin to separate search bar from site list */
    padding: 20px 10px;
    height: 80vh;
}

.heroSection {
    margin-bottom: 20px; /* Add margin to separate search bar from site list */
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: 200px;
    height: 35px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #5648e3;
}

.filtered-site-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Take full width */
}

.site-info {
    width: 280px; /* 50% width with spacing between items */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.site-info:hover {
    background-color: #f0f0f0;
    transform: scale(1.05); /* Scale up the box when hovered */
}

.site-logo {
    width: 100px; /* Set desired width for the logo */
    height: 100px; /* Set desired height for the logo */
    margin: 10px; /* Add spacing between logo and site name */
    border-radius: 10px;
    object-fit: contain;
}


.pageOpen {
    opacity: 1; /* End with opacity 1 */
    transform: scale(1);
}




