@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Lato&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Stylish&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Wrapper {
    background-color: rgb(240 248 250); /* Adjust background color */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mukta", sans-serif;
}

.divcenter {
    margin-top: 5rem;
    flex-direction: column;
    height: 500px;
    width: 450px;
    padding-top: 2rem;
}

.divcenter.pageOpen  {
    animation: pageOpenAnimation 0.5s ease forwards;
  }
  
  @keyframes pageOpenAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }
  
.Header {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.output {
    position: relative;
    width: 100%;
    margin: 13px auto;
    height: 2.8em;
    font-size: 20px;
}

.display {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(21, 31, 31);
    padding: 0.8rem 1rem;
    height: inherit;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
}

.copy_icon {
    color: #333;
}
.displaySection{
    position: relative;
}

.copy_btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    border: 0;
    width: 5rem;
    cursor: pointer;
    background-color: #6c63ff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
}
.copy_btn:hover {
    background-color: #5648e3;
}

.box {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #111;
    color: #ffffff;
    -webkit-box-reflect: below linear-gradient(transparent, #0005);
}

.scroll_indicator {
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    height: 12px;
    border-radius: 1rem;
    accent-color: rgb(226, 228, 100);
    transition: all 100ms ease-in;
}

.scroll_indicator.red {
    accent-color: rgb(235, 124, 124);
}

.scroll_indicator.green {
    accent-color: rgb(131, 243, 131);
}

.scroll_indicator::-webkit-slider-thumb:hover {
    border-radius: 60%;
    box-shadow: 0px 0px 25px 5px rgba(172, 167, 142, 0.8);
}

.length_div {
    display: flex;
    justify-content: space-between;
}

.Restrict {
    margin-top: 10px;
}

.input_radio_div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: inline-block;
    appearance: none;
    border: 1px solid cyan;
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.Restrict input:checked::before {
    content: "✔";
    position: absolute;
    color: rgb(98, 99, 47);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -12px;
    transform: translateX(-50%) translateY(40%);
}

.strength_indicator {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.indicator {
    width: 20px;
    height: 18px;
    background-color: #999381;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px #a8a393) drop-shadow(0 0 10px #c5bea9) drop-shadow(0 0 25px #e6dab9);
}

.indicator.red {
    background-color: rgb(235, 124, 124);
}

.indicator.yellow {
    background-color: rgb(226, 228, 100);
}

.indicator.green {
    background-color: rgb(131, 243, 131);
}
.generator_password {
    filter: drop-shadow(0 0 1px #222) drop-shadow(0 0 2px #444) drop-shadow(0 0 3px #333);
    height: 3rem;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.generator_password:hover {
    background-color: #5648e3;
}